---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Parcours professionnel - Olivier Brutinel" description="Découvrez mon parcours professionnel au travers de mes expériences">
	<div class="stack gap-20">
		<main class="wrapper page">

			<Hero
				title="Parcours professionnel"
				tagline="Découvrez mon parcours professionnel au travers de mes expériences."
			>
			</Hero>

			<section class="experience">
				<div class="time">
					<span>Février 2014 à</span>
					<span>aujourd'hui</span>
					<a href="https://www.wagaia.com" target="_blank">
						<img src="../assets/logos/wagaia.png" alt="Wagaia" />
                    </a>
				</div>
				<div class="content">
					<h2>Développeur Full Stack PHP Laravel</h2>
					<h3>
						<span>CDI | <a href="https://www.wagaia.com" target="_blank">Wagaia</a> à Marseille</span>
					</h3>
					<ul>
						<li>Développement de sites et d’applications sur mesure (Extranet, CRM, Applications métiers, Sites E-commerce)</li>
						<li>Développement sous le Framework Laravel</li>
						<li>Intégration & développement de sites responsives (front & back)</li>
						<li>Intégration depuis une maquette graphique (Figma, Photoshop)</li>
						<li>Maintenance & évolution du framework PHP développé par l'agence</li>
						<li>Livraison & mise en production</li>
					</ul>
					<div class="tags">
						<span>Laravel</span>
						<span>PHP8</span>
						<span>MySQL</span>
						<span>Github</span>
						<span>JQuery 5</span>
						<span>JavaScript</span>
						<span>Boostrap 5</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Juillet 2011 à</span>
					<span>Décembre 2013</span>
					<a href="https://www.linkedin.com/company/hors-norme/" target="_blank">
						<img src="../assets/logos/hors-norme.jpg" alt="Hors-norme" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur PHP Full Stack</h2>
					<h3>
						<span>CDI | <a href="https://www.linkedin.com/company/hors-norme/">Hors-Norme</a> à Marseille</span>
					</h3>
					<ul>
						<li>Analyse, conception, développement et mise en place de solutions techniques</li>
						<li>Intégration en responsive de maquettes graphiques depuis PrestaShop</li>
						<li>Développement de sites internet sous le CMF ModX et CMS WordPress</li>
					</ul>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Juin 2011 à</span>
					<span>Juillet 2011</span>
					<a href="https://www.melodyhealthcare.com" target="_blank">
						<img src="../assets/logos/publicis.jpg" alt="Groupe publicis" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur / Intégrateur Mobile</h2>
					<h3>
						<span>Intérim | <a href="https://www.melodyhealthcare.com"  target="_blank">MELODY HEALTHCARE - GROUPE PUBLICIS</a> à Montpellier</span>
					</h3>
					<ul>
						<li>Développement d'applications pour IPad en JavaScript</li>
						<li>Découpe de maquettes graphiques et Intégration en HTML5 & CSS3 pour IPad</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
