---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Parcours professionnel - Développeur Full Stack PHP Laravel - Olivier Brutinel" description="Découvrez mon parcours professionnel au travers de mes expériences">
	<div class="stack gap-20">
		<main class="wrapper page">

			<Hero
				title="Parcours professionnel"
				tagline="Découvrez mon parcours professionnel au travers de mes expériences."
			>
			</Hero>

			<section class="experience">
				<div class="time">
					<span>Février 2014 à</span>
					<span>aujourd'hui</span>
					<a href="https://www.wagaia.com" target="_blank">
						<img src="../assets/logos/wagaia.png" alt="Wagaia" />
                    </a>
				</div>
				<div class="content">
					<h2>Développeur Full Stack PHP Laravel</h2>
					<h3>
						<span>CDI | <a href="https://www.wagaia.com" target="_blank">WAGAIA</a> à Marseille</span>
					</h3>
					<ul>
						<li>Développement de sites et d’applications sur mesure (Extranet, CRM, Applications métiers, Sites E-commerce)</li>
						<li>Développement sous le Framework Laravel</li>
						<li>Maintenance & évolution du framework PHP développé par l'agence</li>
						<li>Implémentation d'API (Stripe, OVH SMS, FranchiseOnCloud, Google Map, ...)</li>
						<li>Intégration & développement de sites responsives (front & back)</li>
						<li>Intégration depuis une maquette graphique (Figma, Photoshop)</li>
						<li>Développement avec WordPress et Prestashop</li>
						<li>Estimations fonctionnalités / projets</li>
						<li>Livraison & mise en production</li>
					</ul>
					<div class="tags">
						<span>Laravel</span>
						<span>PHP8</span>
						<span>MySQL</span>
						<span>Github</span>
						<span>API</span>
						<span>JQuery</span>
						<span>JavaScript</span>
						<span>Boostrap 5</span>
					</div>
				</div>
			</section>

			<div class="training">
				<div>
					<div>
						<svg height="25" viewBox="0 -.11376601 49.74245785 51.31690859" width="25" xmlns="http://www.w3.org/2000/svg">
							<path d="m49.626 11.564a.809.809 0 0 1 .028.209v10.972a.8.8 0 0 1 -.402.694l-9.209 5.302v10.509c0 .286-.152.55-.4.694l-19.223 11.066c-.044.025-.092.041-.14.058-.018.006-.035.017-.054.022a.805.805 0 0 1 -.41 0c-.022-.006-.042-.018-.063-.026-.044-.016-.09-.03-.132-.054l-19.219-11.066a.801.801 0 0 1 -.402-.694v-32.916c0-.072.01-.142.028-.21.006-.023.02-.044.028-.067.015-.042.029-.085.051-.124.015-.026.037-.047.055-.071.023-.032.044-.065.071-.093.023-.023.053-.04.079-.06.029-.024.055-.05.088-.069h.001l9.61-5.533a.802.802 0 0 1 .8 0l9.61 5.533h.002c.032.02.059.045.088.068.026.02.055.038.078.06.028.029.048.062.072.094.017.024.04.045.054.071.023.04.036.082.052.124.008.023.022.044.028.068a.809.809 0 0 1 .028.209v20.559l8.008-4.611v-10.51c0-.07.01-.141.028-.208.007-.024.02-.045.028-.068.016-.042.03-.085.052-.124.015-.026.037-.047.054-.071.024-.032.044-.065.072-.093.023-.023.052-.04.078-.06.03-.024.056-.05.088-.069h.001l9.611-5.533a.801.801 0 0 1 .8 0l9.61 5.533c.034.02.06.045.09.068.025.02.054.038.077.06.028.029.048.062.072.094.018.024.04.045.054.071.023.039.036.082.052.124.009.023.022.044.028.068zm-1.574 10.718v-9.124l-3.363 1.936-4.646 2.675v9.124l8.01-4.611zm-9.61 16.505v-9.13l-4.57 2.61-13.05 7.448v9.216zm-36.84-31.068v31.068l17.618 10.143v-9.214l-9.204-5.209-.003-.002-.004-.002c-.031-.018-.057-.044-.086-.066-.025-.02-.054-.036-.076-.058l-.002-.003c-.026-.025-.044-.056-.066-.084-.02-.027-.044-.05-.06-.078l-.001-.003c-.018-.03-.029-.066-.042-.1-.013-.03-.03-.058-.038-.09v-.001c-.01-.038-.012-.078-.016-.117-.004-.03-.012-.06-.012-.09v-21.483l-4.645-2.676-3.363-1.934zm8.81-5.994-8.007 4.609 8.005 4.609 8.006-4.61-8.006-4.608zm4.164 28.764 4.645-2.674v-20.096l-3.363 1.936-4.646 2.675v20.096zm24.667-23.325-8.006 4.609 8.006 4.609 8.005-4.61zm-.801 10.605-4.646-2.675-3.363-1.936v9.124l4.645 2.674 3.364 1.937zm-18.422 20.561 11.743-6.704 5.87-3.35-8-4.606-9.211 5.303-8.395 4.833z" fill="#ff2d20"/>
						</svg>
						<p>2018 - Formation Laravel</p>
					</div>
				</div>
				<div>
					<div class="symfony">
						<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="32px" height="32px">
							<path d="M 16 3 C 8.832 3 3 8.832 3 16 C 3 23.168 8.832 29 16 29 C 23.168 29 29 23.168 29 16 C 29 8.832 23.168 3 16 3 z M 16 5 C 22.065 5 27 9.935 27 16 C 27 22.065 22.065 27 16 27 C 9.935 27 5 22.065 5 16 C 5 9.935 9.935 5 16 5 z M 20.271484 10.076172 C 20.198484 10.078172 17.758172 9.941625 16.326172 14.140625 C 15.938172 13.821625 14.100406 11.630484 12.066406 13.146484 C 11.336406 13.692484 10.854172 14.993797 11.951172 16.216797 C 12.604172 16.915797 12.980594 17.192953 12.808594 17.751953 C 12.455594 18.899953 10.66775 18.373687 10.84375 17.804688 C 10.89575 17.634688 10.978938 17.631781 11.085938 17.300781 C 11.383938 16.324781 10.040953 15.847344 9.7519531 16.777344 C 9.5859531 17.319344 9.8434687 18.298562 11.230469 18.726562 C 12.854469 19.225562 14.228828 18.3405 14.423828 17.1875 C 14.547828 16.4655 14.221047 15.929281 13.623047 15.238281 L 13.136719 14.699219 C 12.841719 14.402219 12.739922 13.900625 13.044922 13.515625 C 13.301922 13.189625 13.668531 13.051844 14.269531 13.214844 C 15.146531 13.452844 15.537453 14.061734 16.189453 14.552734 C 16.142453 14.706734 15.804281 15.797937 15.488281 17.710938 C 15.022281 20.156938 14.665234 21.499531 13.740234 22.269531 C 13.554234 22.404531 13.287719 22.603188 12.886719 22.617188 C 12.811719 22.620187 12.342594 22.508766 12.808594 22.134766 C 13.395594 21.813766 13.077375 20.795219 12.234375 20.824219 C 11.854375 20.836219 11.276828 21.192656 11.298828 21.847656 C 11.320828 22.523656 11.950391 23.031047 12.900391 22.998047 C 13.408391 22.981047 14.541203 22.775266 15.658203 21.447266 C 17.193203 19.647266 17.485391 17.509797 17.900391 15.216797 C 19.891391 15.452797 20.876625 14.529797 20.890625 13.841797 C 20.911625 12.905797 19.81025 12.938672 19.65625 13.638672 C 19.58225 13.978672 20.174891 14.284984 19.712891 14.583984 C 19.385891 14.795984 18.798656 14.945219 17.972656 14.824219 C 18.369656 12.634219 18.709187 10.4875 20.242188 10.4375 C 20.347188 10.4315 20.729281 10.443312 20.738281 10.695312 C 20.743281 10.903312 20.476328 11.067875 20.486328 11.421875 C 20.501328 11.823875 20.806047 12.086313 21.248047 12.070312 C 21.839047 12.049312 22.008047 11.475687 21.998047 11.179688 C 21.973047 10.483688 21.240484 10.045172 20.271484 10.076172 z"/>
						</svg>
						2014 - Formation Symfony2
					</div>
				</div>
			</div>

			<section class="experience">
				<div class="time">
					<span>Juillet 2011 à</span>
					<span>Décembre 2013</span>
					<a href="https://www.linkedin.com/company/hors-norme/" target="_blank">
						<img src="../assets/logos/hors-norme.jpg" alt="Hors-norme" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur Full Stack PHP</h2>
					<h3>
						<span>CDI | <a href="https://www.linkedin.com/company/hors-norme/">HORS-NORME</a> à Marseille</span>
					</h3>
					<ul>
						<li>Analyse, conception, développement et mise en place de solutions techniques</li>
						<li>Intégration en responsive depuis des maquettes graphiques réalisées avec Photoshop</li>
						<li>Développement de sites internet avec le CMF ModX, WordPress et PrestaShop</li>
					</ul>
					<div class="tags">
						<span>PHP</span>
						<span>MySQL</span>
						<span>JQuery</span>
						<span>JavaScript</span>
						<span>Boostrap</span>
						<span>ModX</span>
						<span>WordPres</span>
						<span>Prestashop</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Juin 2011 à</span>
					<span>Juillet 2011</span>
					<a href="https://www.melodyhealthcare.com" target="_blank">
						<img src="../assets/logos/publicis.jpg" alt="Groupe publicis" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur / Intégrateur Mobile</h2>
					<h3>
						<span>
							Intérim |
							<a href="https://www.melodyhealthcare.com"  target="_blank">MELODY HEALTHCARE - GROUPE PUBLICIS</a>
							à Montpellier
						</span>
					</h3>
					<ul>
						<li>Développement d'applications pour IPad en JavaScript</li>
						<li>Découpe de maquettes graphiques et Intégration en HTML & CSS pour IPad</li>
					</ul>
					<div class="tags">
						<span>HTML</span>
						<span>MySQL</span>
						<span>JQuery</span>
						<span>JavaScript</span>
						<span>CSS</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Juin 2010 à</span>
					<span>Juin 2011</span>
				</div>
				<div class="content">
					<h2>Développeur PHP</h2>
					<h3>
						<span>Freelance | Sydney, Australie</span>
					</h3>
					<ul>
						<li>Développement de sites sous le Framework Symfony (1.4) et WordPress</li>
					</ul>
					<div class="tags">
						<span>PHP</span>
						<span>MySQL</span>
						<span>Symfony</span>
						<span>WordPress</span>
						<span>CSS</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Octobre 2008 à</span>
					<span>Mai 2010</span>
					<a href="https://www.highco.com" target="_blank">
						<img src="../assets/logos/highco.png" alt="Groupe HighCo" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur PHP Symfony</h2>
					<h3>
						<span>
							CDI |
							<a href="https://www.highco.com"  target="_blank">BLEUROY.COM – GROUPE HIGHCO</a>
							à Marseille
						</span>
					</h3>
					<ul>
						<li>Développement de sites Internet sous le Framework Symfony (1.4)</li>
						<li>Intégration (X)HTML/CSS de maquettes graphiques en respectant les normes W3C et d’accessibilités</li>
						<li>Développement d’application Web (Géolocalisation Google MAP, Opération flux XML)</li>
					</ul>
					<div class="tags">
						<span>PHP</span>
						<span>MySQL</span>
						<span>Symfony</span>
						<span>API</span>
						<span>CSS</span>
					</div>
				</div>
			</section>

			<div class="formation">
				<h1 class="title">Formations</h1>

				<section class="experience">
					<div class="time">
						<span>2007 - 2008</span>
					</div>
					<div class="content">
						<h2>LICENCE PROFESSIONNELLE (NTI)</h2>
						<p>Nouvelles Technologies de l'Informatique</p>
						<h3>
							<span>Université de Provence à Marseille</span>
						</h3>
					</div>
				</section>
				<section class="experience">
					<div class="time">
						<span>2005 - 2007</span>
					</div>
					<div class="content">
						<h2>Brevet Technicien Supérieur (IRIS)</h2>
						<p>Informatique et Réseaux pour l'Industrie et les Services techniques</p>
						<h3>
							<span>Lycée Jean Perrin à Marseille</span>
						</h3>
					</div>
				</section>
			</div>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
