---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from "../components/Icon.astro";
---

<BaseLayout title="Parcours professionnel - Développeur Full Stack PHP Laravel - Olivier Brutinel" description="Découvrez mon parcours professionnel au travers de mes expériences">
	<div class="stack gap-20">
		<main class="wrapper page">

			<Hero
				title="Parcours professionnel"
				tagline="Découvrez mon parcours professionnel au travers de mes expériences."
			>
			</Hero>

			<section class="experience">
				<div class="time">
					<span>Février 2014 à</span>
					<span>aujourd'hui</span>
					<a href="https://www.wagaia.com" target="_blank">
						<img src="../assets/logos/wagaia.png" alt="Wagaia" />
                    </a>
				</div>
				<div class="content">
					<h2>Développeur Full Stack PHP Laravel</h2>
					<h3>
						<span>CDI | <a href="https://www.wagaia.com" target="_blank">WAGAIA</a> à Marseille</span>
					</h3>
					<ul>
						<li>Développement de sites et d’applications sur mesure (Extranet, CRM, Applications métiers, Sites E-commerce)</li>
						<li>Développement sous le Framework Laravel</li>
						<li>Maintenance & évolution du framework PHP développé par l'agence</li>
						<li>Implémentation d'API (Stripe, OVH SMS, FranchiseOnCloud, Google Map, ...)</li>
						<li>Intégration & développement de sites responsives (front & back)</li>
						<li>Intégration depuis une maquette graphique (Figma, Photoshop)</li>
						<li>Développement avec WordPress et Prestashop</li>
						<li>Livraison & mise en production</li>
					</ul>
					<div class="tags">
						<span>Laravel</span>
						<span>PHP8</span>
						<span>MySQL</span>
						<span>Github</span>
						<span>API</span>
						<span>JQuery</span>
						<span>JavaScript</span>
						<span>Boostrap 5</span>
					</div>
				</div>
			</section>

			<div class="training">
				<div>
					<Icon icon="rocket-launch" size="1.33em" /> 2018 - Formation Laravel
				</div>
				<div>
					<Icon icon="rocket-launch" size="1.33em" /> 2014 - Formation Symfony2
				</div>
			</div>

			<section class="experience">
				<div class="time">
					<span>Juillet 2011 à</span>
					<span>Décembre 2013</span>
					<a href="https://www.linkedin.com/company/hors-norme/" target="_blank">
						<img src="../assets/logos/hors-norme.jpg" alt="Hors-norme" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur Full Stack PHP</h2>
					<h3>
						<span>CDI | <a href="https://www.linkedin.com/company/hors-norme/">HORS-NORME</a> à Marseille</span>
					</h3>
					<ul>
						<li>Analyse, conception, développement et mise en place de solutions techniques</li>
						<li>Intégration en responsive depuis des maquettes graphiques réalisées avec Photoshop</li>
						<li>Développement de sites internet avec le CMF ModX, WordPress et PrestaShop</li>
					</ul>
					<div class="tags">
						<span>PHP</span>
						<span>MySQL</span>
						<span>JQuery</span>
						<span>JavaScript</span>
						<span>Boostrap</span>
						<span>ModX</span>
						<span>WordPres</span>
						<span>Prestashop</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Juin 2011 à</span>
					<span>Juillet 2011</span>
					<a href="https://www.melodyhealthcare.com" target="_blank">
						<img src="../assets/logos/publicis.jpg" alt="Groupe publicis" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur / Intégrateur Mobile</h2>
					<h3>
						<span>
							Intérim |
							<a href="https://www.melodyhealthcare.com"  target="_blank">MELODY HEALTHCARE - GROUPE PUBLICIS</a>
							à Montpellier
						</span>
					</h3>
					<ul>
						<li>Développement d'applications pour IPad en JavaScript</li>
						<li>Découpe de maquettes graphiques et Intégration en HTML & CSS pour IPad</li>
					</ul>
					<div class="tags">
						<span>HTML</span>
						<span>MySQL</span>
						<span>JQuery</span>
						<span>JavaScript</span>
						<span>CSS</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Juin 2010 à</span>
					<span>Juin 2011</span>
				</div>
				<div class="content">
					<h2>Développeur PHP</h2>
					<h3>
						<span>Freelance | Sydney, Australie</span>
					</h3>
					<ul>
						<li>Développement de sites sous le Framework Symfony (1.4) et WordPress</li>
					</ul>
					<div class="tags">
						<span>PHP</span>
						<span>MySQL</span>
						<span>Symfony</span>
						<span>WordPress</span>
						<span>CSS</span>
					</div>
				</div>
			</section>

			<section class="experience">
				<div class="time">
					<span>Octobre 2008 à</span>
					<span>Mai 2010</span>
					<a href="https://www.highco.com" target="_blank">
						<img src="../assets/logos/highco.png" alt="Groupe HighCo" />
					</a>
				</div>
				<div class="content">
					<h2>Développeur PHP Symfony</h2>
					<h3>
						<span>
							CDI |
							<a href="https://www.highco.com"  target="_blank">BLEUROY.COM – GROUPE HIGHCO</a>
							à Marseille
						</span>
					</h3>
					<ul>
						<li>Développement de sites Internet sous le Framework Symfony (1.4)</li>
						<li>Intégration (X)HTML/CSS de maquettes graphiques en respectant les normes W3C et d’accessibilités</li>
						<li>Développement d’application Web (Géolocalisation Google MAP, Opération flux XML)</li>
					</ul>
					<div class="tags">
						<span>PHP</span>
						<span>MySQL</span>
						<span>Symfony</span>
						<span>API</span>
						<span>CSS</span>
					</div>
				</div>
			</section>

			<div class="formation">
				<h1 class="title">Formations</h1>

				<section class="experience">
					<div class="time">
						<span>2007 - 2008</span>
					</div>
					<div class="content">
						<h2>LICENCE PROFESSIONNELLE (NTI)</h2>
						<p>Nouvelles Technologies de l'Informatique</p>
						<h3>
							<span>Université de Provence à Marseille</span>
						</h3>
					</div>
				</section>
				<section class="experience">
					<div class="time">
						<span>2005 - 2007</span>
					</div>
					<div class="content">
						<h2>Brevet Technicien Supérieur (IRIS)</h2>
						<p>Informatique et Réseaux pour l'Industrie et les Services techniques</p>
						<h3>
							<span>Lycée Jean Perrin à Marseille</span>
						</h3>
					</div>
				</section>
			</div>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
