---
interface Props {
	title: string;
	tagline?: string;
	badge?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title, badge } = Astro.props;
---

<header class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		<p class="tagline">
			{tagline}
			{badge && <span class="badge">{badge}</span>}
		</p>
	</div>
	<slot />
</header>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
			position: relative;
		}

		.start .badge {
			content: '10+ exp';
			border-radius: 999rem;
			padding: 0.1rem 1rem;
			position: absolute;
			background: var(--gradient-accent-orange);
			right: 0px;
			top: -5px;
			font-size: var(--text-md);
		}

		.title {
			font-size: var(--text-4xl);
			margin-bottom: 15px;
			max-width: 450px;
		}

	}
</style>
