---
interface Props {
	title: string;
	filter?: string;
	img?: string;
	align?: 'start' | 'center';
}

const {
	align = 'center',
	title,
	filter,
	img
} = Astro.props;


---

<div class="item" data-color={filter}>
	<div class="item-content">
		<img src="assets/portfolio/{img}" alt={title} />
		{title}
	</div>
</div>

<style>

	@media (min-width: 50em) {

		.grid {
			position: relative;
		}

		.item {
			display: block;
			position: absolute;
			width: 350px;
			height: 250px;
			margin: 25px;
			z-index: 1;
			background: #000;
			color: #fff;
		}

		.item.muuri-item-dragging {
			z-index: 3;
		}

		.item.muuri-item-releasing {
			z-index: 2;
		}

		.item.muuri-item-hidden {
			z-index: 0;
		}

		.item-content {
			position: relative;
			width: 100%;
			height: 100%;
		}

	}
</style>
