---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="team" color="var(--accent-regular)" size="4rem" gradient />
		<p>
			Travail en équipe<br />
			Sens du collectif
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="lang" color="var(--accent-regular)" size="4rem" gradient />
		<p>
			Français : langue maternelle<br />
			Anglais : technique
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="4rem" gradient />
		<p>
			Curieux<br />
			Passionné<br />
			Autonome<br />
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="mountains" color="var(--accent-regular)" size="4rem" gradient />
		<p>
			VTT<br />
			Randonnée<br />
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 3rem;
			text-align: center;
		}

		.skills .stack {
			align-items: center;
		}

		.skills h2 {
			font-size: 1.6rem;
		}

		.skills p {
			font-size: var(--text-lg);
		}
	}
</style>
